.header {
  background-color: var(--mantine-color-blue-6);
  color: white;
}

.logo {
  color: white;
}

.navbar {
  background-color: var(--mantine-color-gray-0);
}

.navLink {
  border-radius: var(--mantine-radius-md);
  margin-bottom: 4px;
}

.main {
  background-color: var(--mantine-color-gray-1);
  min-height: calc(100vh - 60px);
}

.container {
  height: 100%;
}
